@charset "utf-8";
//reset
@import "compass/reset";
//css3
@import "compass/css3";
//变量
$text_border: 1px red solid;
@font-face {
    font-family: 'hooray';
    src: url('../fonts/hooray.eot');
    src: url('../fonts/hooray.eot?#iefix') format('eot'),
         url('../fonts/hooray.woff') format('woff'),
         url('../fonts/hooray.ttf') format('truetype'),
         url('../fonts/hooray.svg#webfontjKg17VrE') format('svg');
}
body{
	
	background-color:#fff;
	width:1000px;
	height:100%;
	margin:0 auto;
}
.dashboard{
	margin:0 auto;
	position:relative;
	top:100px;
	//border:$text_border;
	@include border-radius(350px);
	width:700px;
	height:800px;
}
@keyframes headshowup{
	0% {opacity:0;}
	25% {opacity:0.1;}
	50% {opacity:0.3;}
	75% {opacity:0.6;}
	100% {opacity:0.9;}

}

.head{
	@include border-radius(100px);
	width:200px;
	height:200px;
	//border:$text_border;
	margin:0 auto;
	position:relative;
	top:250px;
	opacity:0;
	animation:headshowup 5s 1;
	animation-fill-mode : forwards; 
	transition: all 0.5s;
	&:hover{
		transform: rotateY(180deg);
	}
}

@keyframes showup{
	0% {opacity:0;}
	33% {opacity:0.3;}
	66% {opacity:0.6;}
	100% {opacity:0.9;}

}
#myself{position:absolute; left:310px; top:-40px;animation:showup 5s 1 3s;animation-fill-mode : forwards; }
#Japanese{position:absolute; left:10px; top:130px;animation:showup 5s 1 4s;animation-fill-mode : forwards; }
#movie{position:absolute; left:4px; top:480px;animation:showup 5s 1 5s;animation-fill-mode : forwards; }
#music{position:absolute; left:616px; top:140px;animation:showup 5s 1 6s;animation-fill-mode : forwards; }
#ACG{position:absolute; left:310px; top:660px;animation:showup 5s 1 7s;animation-fill-mode : forwards; }
#game{position:absolute; left:610px; top:490px;animation:showup 5s 1 8s;animation-fill-mode : forwards; }


@keyframes rounded_hover{
	0% {opacity:0;}
	25% {opacity:0.5;}
	50% {opacity:1;}
	75% {opacity:0.5;}
	100% {opacity:0.8;}

}
.rounded{
	opacity:0;
	@include border-radius(40px);
	width:80px;
	height:80px;
	//border:$text_border;
	&:hover{
		box-shadow: 0px 0px 20px #0CC;
	}
}
@keyframes time_showup{
	from {opacity:0;}
	to {opacity:1;}
}


//日期时间
.date,.time{
	font-family:'hooray';
	opacity:0;
	position:absolute;

	left:220px;
	top:470px;
	font-size:40px;
	//border:$text_border;
	animation:time_showup 5s 1 1s;
	animation-fill-mode : forwards; 
}
.time{

	left:270px;
	top:200px;
	animation:time_showup 5s 1 2s;
	animation-fill-mode : forwards; 
}