@charset "utf-8";
//reset
@import "compass/reset";
//css3
@import "compass/css3";
//变量
$text_border: 1px red solid;


body{
	background-color:#fff;
	width:1000px;
	height:100%;
	margin:0 auto;
}
.dashboard{
	margin:0 auto;
	position:relative;
	top:100px;
	//border:$text_border;
	@include border-radius(350px);
	width:700px;
	height:800px;
}
.head{
	@include border-radius(100px);
	width:200px;
	height:200px;
	//border:$text_border;
	margin:0 auto;
	position:relative;
	top:250px;
}
#myself{position:absolute; left:310px; top:-40px;}
#music{position:absolute; left:616px; top:140px;}
#game{position:absolute; left:610px; top:490px;}
#ACG{position:absolute; left:310px; top:660px;}
#movie{position:absolute; left:4px; top:480px;}
#Japanese{position:absolute; left:10px; top:130px;}

.rounded{
	@include border-radius(40px);
	width:80px;
	height:80px;
	border:$text_border;
}

//日期时间
.date{
	position:absolute;
	left:255px;
	top:200px;
	border:$text_border;
}
.time{
	position:absolute;
	left:310px;
	top:500px;
	border:$text_border;
}