@charset "UTF-8";
/* line 5, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'miaowu';
  src: url("../fonts/miaowu.ttf");
  src: url("../fonts/miaowu.ttf") format("truetype");
}
/* line 20, ../sass/css3_canvas_drwa.scss */
body {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
}

/* line 25, ../sass/css3_canvas_drwa.scss */
.container {
  float: left;
  width: 550px;
  height: 800px;
  border: 1px solid red;
  margin: 50px 0 0 30px;
}

/* line 32, ../sass/css3_canvas_drwa.scss */
p {
  font-family: "miaowu", "Comic Sans MS", cursive, ‘Arial Black’, Gadget, sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
}

/* line 40, ../sass/css3_canvas_drwa.scss */
.head {
  width: 220px;
  height: 220px;
  -moz-border-radius: 110px;
  -webkit-border-radius: 110px;
  border-radius: 110px;
  background-color: #2FA2E5;
  position: relative;
  top: 100px;
  left: 170px;
  border: 2px solid #02172D;
}

/* line 50, ../sass/css3_canvas_drwa.scss */
.face {
  width: 180px;
  height: 160px;
  -moz-border-radius: 85px;
  -webkit-border-radius: 85px;
  border-radius: 85px;
  background-color: #fff;
  position: relative;
  top: -70px;
  left: 190px;
}

/* line 60, ../sass/css3_canvas_drwa.scss */
.eye {
  width: 46px;
  height: 50px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background-color: #fff;
  float: left;
  position: relative;
  top: -265px;
  left: 232px;
  border: 2px solid #02172D;
}

/* line 71, ../sass/css3_canvas_drwa.scss */
.eyeleft, .eyeright {
  width: 20px;
  height: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-top: 2px solid #02172D;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  position: relative;
}

/* line 82, ../sass/css3_canvas_drwa.scss */
.eyeleft {
  top: 25px;
  left: 15px;
}

/* line 86, ../sass/css3_canvas_drwa.scss */
.eyeright {
  top: 25px;
  left: 10px;
}

/* line 91, ../sass/css3_canvas_drwa.scss */
.nose {
  width: 30px;
  height: 30px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-color: #D80020;
  border: 2px solid #02172D;
  position: relative;
  top: -223px;
  left: 265px;
}

/* line 101, ../sass/css3_canvas_drwa.scss */
.nose_light {
  width: 12px;
  height: 12px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
  position: relative;
  top: 5px;
  left: 6px;
}

/* line 110, ../sass/css3_canvas_drwa.scss */
.undernose {
  width: 2px;
  height: 77px;
  background-color: #02172D;
  position: relative;
  top: -225px;
  left: 282px;
}

/* line 118, ../sass/css3_canvas_drwa.scss */
.mouth {
  width: 120px;
  height: 120px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border-bottom: 2px solid #02172D;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  position: relative;
  top: -345px;
  left: 220px;
}

/* line 130, ../sass/css3_canvas_drwa.scss */
.whiskers {
  height: 2px;
  background-color: #02172D;
  position: relative;
}

/* line 136, ../sass/css3_canvas_drwa.scss */
.lefttop {
  width: 55px;
  top: -430px;
  left: 205px;
  transform: rotate(15deg);
}

/* line 142, ../sass/css3_canvas_drwa.scss */
.righttop {
  width: 55px;
  top: -433px;
  left: 305px;
  transform: rotate(345deg);
}

/* line 149, ../sass/css3_canvas_drwa.scss */
.leftmid {
  width: 75px;
  top: -400px;
  left: 185px;
}

/* line 154, ../sass/css3_canvas_drwa.scss */
.rightmid {
  width: 75px;
  top: -403px;
  left: 310px;
}

/* line 159, ../sass/css3_canvas_drwa.scss */
.leftbottom {
  width: 80px;
  top: -380px;
  left: 180px;
  transform: rotate(345deg);
}

/* line 165, ../sass/css3_canvas_drwa.scss */
.rightbottom {
  width: 80px;
  top: -383px;
  left: 305px;
  transform: rotate(15deg);
}

/* line 173, ../sass/css3_canvas_drwa.scss */
.neck {
  width: 140px;
  height: 10px;
  background-color: #D80020;
  border: 2px solid #02172D;
  position: relative;
  top: -335px;
  left: 208px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/* line 184, ../sass/css3_canvas_drwa.scss */
.leftarm, .rightarm {
  width: 40px;
  height: 70px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: #2FA2E5;
  position: relative;
}

/* line 191, ../sass/css3_canvas_drwa.scss */
.leftarm {
  top: -340px;
  left: 190px;
  transform: rotate(35deg);
  border-left: 2px solid #02172D;
}

/* line 197, ../sass/css3_canvas_drwa.scss */
.rightarm {
  top: -410px;
  left: 330px;
  transform: rotate(325deg);
  border-right: 2px solid #02172D;
}

/* line 203, ../sass/css3_canvas_drwa.scss */
.lefthand, .righthand {
  width: 45px;
  height: 45px;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  border: 2px solid #02172D;
  background-color: #fff;
  position: relative;
}

/* line 211, ../sass/css3_canvas_drwa.scss */
.lefthand {
  top: -440px;
  left: 170px;
}

/* line 215, ../sass/css3_canvas_drwa.scss */
.righthand {
  top: -485px;
  left: 345px;
}

/* line 219, ../sass/css3_canvas_drwa.scss */
.body {
  width: 140px;
  height: 130px;
  -moz-border-radius-bottomleft: 23px;
  -webkit-border-bottom-left-radius: 23px;
  border-bottom-left-radius: 23px;
  -moz-border-radius-bottomright: 23px;
  -webkit-border-bottom-right-radius: 23px;
  border-bottom-right-radius: 23px;
  background-color: #2FA2E5;
  border-right: 2px solid #02172D;
  border-left: 2px solid #02172D;
  border-bottom: 2px solid #02172D;
  border-top: 1px solid transparent;
  position: relative;
  top: -575px;
  left: 208px;
}

/* line 233, ../sass/css3_canvas_drwa.scss */
.stomach {
  width: 120px;
  height: 100px;
  -moz-border-radius: 53px;
  -webkit-border-radius: 53px;
  border-radius: 53px;
  background-color: #fff;
  border: 2px solid #02172D;
  position: relative;
  top: -5px;
  left: 8px;
}

/* line 243, ../sass/css3_canvas_drwa.scss */
.pocket {
  width: 100px;
  height: 50px;
  -moz-border-radius-bottomleft: 100px;
  -webkit-border-bottom-left-radius: 100px;
  border-bottom-left-radius: 100px;
  -moz-border-radius-bottomright: 100px;
  -webkit-border-bottom-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border: 2px solid #02172D;
  position: relative;
  top: -3px;
  left: 8px;
}

/* line 253, ../sass/css3_canvas_drwa.scss */
.bell {
  width: 40px;
  height: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background-color: #F9E542;
  border: 2px solid #02172D;
  position: relative;
  top: -8px;
  left: 38px;
}

/* line 263, ../sass/css3_canvas_drwa.scss */
.bell1 {
  width: 40px;
  height: 1px;
  border: 2px solid #02172D;
  position: relative;
  top: 10px;
  left: -2px;
}

/* line 271, ../sass/css3_canvas_drwa.scss */
.bell2 {
  width: 10px;
  height: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #02172D;
  background-color: #7F6B55;
  position: relative;
  top: 12px;
  left: 13px;
}

/* line 281, ../sass/css3_canvas_drwa.scss */
.bell3 {
  width: 2px;
  height: 10px;
  background-color: #02172D;
  position: relative;
  top: 12px;
  left: 19px;
}

/* line 289, ../sass/css3_canvas_drwa.scss */
.leftfoot, .rightfoot {
  width: 90px;
  height: 30px;
  -moz-border-radius-topleft: 80px;
  -webkit-border-top-left-radius: 80px;
  border-top-left-radius: 80px;
  -moz-border-radius-bottomleft: 100px;
  -webkit-border-bottom-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border: 2px solid #02172D;
  float: left;
  position: relative;
  top: -578px;
  left: 190px;
}

/* line 300, ../sass/css3_canvas_drwa.scss */
.rightfoot {
  transform: rotateY(180deg);
}
